@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@{
    Layout = "~/Views/Shared/_Layout_home.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    Hotel detailHotel = CommentController.DetailHotel(Request.Cookies["LanguageID"].Value);
    Article article = ViewBag.ArticleByRoomRate ?? new Article();
}

@*<div class="col-md-9 col-sm-6 col-xs-12">
        <h1 class="color333 title uppercase mg-bottom-25">@menu.Title</h1>
        <div class="home-des">
            <div id="map" style="height: 450px; width: 100%; margin-top: 20px;"></div>
        </div>
    </div>*@

<!-- page title -->
<div class="page-title container-fluid">
    <div class="container" style="position: relative;">
        <p class="title">Contact</p>
        <p class="page-tree">
            <span class="home"><a href="/">Home</a></span>
            <span><i class="fa fa-angle-right"></i></span>
            <span>Contact</span>
        </p>
    </div>
</div>
<!-- end page title -->
<!-- contact -->
<div class="container-fluid contact">
    <div class="big-map row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.808871869986!2d105.77227781493282!3d21.040332185992185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454c9755033dd%3A0xf13b328d1266f239!2zMTQ3IFBo4buRIE1haSBE4buLY2gsIE1haSBE4buLY2gsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1608189785545!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<!-- end contact -->
<!-- stats -->
<div class="container-fluid stats contact-info">
    <div class="container title">
        <p>Contact Us</p>
        <div class="icon-title">
            <img src="~/Content/img/img/icon-title.png">
        </div>
    </div>
    <div class="container info">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="criteria">Address</p>
                        <p class="description">
                            The White Horse Thruxton, Hampshire SP11 8EE
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="criteria">Phone/Email</p>
                        <p class="description">
                            <span><a href="#">Phone: 0242 242 0777</a></span><br />
                            <span><a href="#">Email: info@webhotel.vn</a></span>
                        </p>
                    </div>
                </div>
            </div><div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="criteria">Socials</p>
                        <p class="description">
                            <a href="#"><i class="fab fa-tripadvisor"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end stats -->
<!-- member contact -->
<div class="container-fluid member-contact">
    <p class="title">Say Hello</p>
    <div class="icon-title">
        <img src="~/Content/img/img/icon-title.png">
    </div>
    <div class="row info">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-2 col-sm hidden-xs"></div>
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-12 item contact">
                    <input type="name" name="" placeholder="Name">
                    <input type="email" name="" placeholder="Email">
                    <textarea placeholder="Message"></textarea>
                    <div class="policy">
                        <div class="checkbox">
                            <input type="checkbox" name="" id="check-policy">
                        </div>
                        <div class="words">
                            <p>I agree that my submitted data is being collected and stored. For further details on handling user data, see our</br><span><a href="#">Privacy Policy</a></span></p>
                        </div>
                        <button class="condition-policy">send message</button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-2 col-sm hidden-xs"></div>
            </div>
        </div>
    </div>
</div>
<!-- end member contact -->
@*@Html.Partial("Comment/SiteBar");*@

<style>
    .gallery-item img {
        width: 100%;
    }
</style>

<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    var html = "<div style='cursor: default; width: 564px; height: 158px; z-index: -356;'>" +
    "<div style='position: absolute; left: 0px; top: 0px;'>" +
    "<div style='width: 0px; height: 0px; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-top-width: 24px; border-top-style: solid; border-top-color: rgba(0, 0, 0, 0.0980392); position: absolute; left: 283px; top: 165px;'></div>" +
    "<div style='position: absolute; left: 28px; top: 0px; width: 564px; height: 158px;'></div><div style='border-top-width: 24px; position: absolute; left: 282px; top: 166px;'><div style='position: absolute; overflow: hidden; left: -6px; top: -1px; width: 16px; height: 30px;'><div style='position: absolute; left: 6px; background-color: rgb(255, 255, 255); -webkit-transform: skewX(22.6deg); -webkit-transform-origin: 0px 0px; height: 24px; width: 10px; box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;'></div></div><div style='position: absolute; overflow: hidden; top: -1px; left: 10px; width: 16px; height: 30px;'><div style='position: absolute; left: 0px; background-color: rgb(255, 255, 255); -webkit-transform: skewX(-22.6deg); -webkit-transform-origin: 10px 0px; height: 24px; width: 10px; box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;'></div>" +
    "</div>" +
    "</div>" +
    "<div style='position: absolute; left: 1px; top: 1px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; background-color: rgb(255, 255, 255); width: 562px; height: 156px;'></div>" +
    "</div>" +
    "<div class='gm-style-iw' style='position: absolute; left: 12px; top: 9px; overflow: auto; width: 520px; height: 140px;'>" +
    "<div class=style='overflow: auto;'><div style='display:block;width: 168px;height: 140px;float: left;'>" +
    "<a href='/' target='_blank'><img alt='Littel Hanoi Hotels' src='@detailHotel.Image' style='float:left; height:101px; margin-left:10px; margin-right:10px; width:148px;'></a></div>" +
    "<div style='width:520px;display:block'><p><span style='color:#B22222'><strong style='font-family: &quot;trajan pro&quot;;letter-spacing: 3px;'>@detailHotel.Name.ToUpper()</strong></span></p><p style='margin-top:-4px'>" +
    "<span style='line-height:1.6em'><strong>Add:</strong> @detailHotel.Address</span><br>" +
    "<span style='line-height:1.6em'><strong>Tel:</strong> @detailHotel.Tel</span><br>" +
    "<span style='line-height:1.6em'><strong>Email:</strong> @detailHotel.Email</span></p></div>" +
    "</div><div>" +
    "</div>";

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {@detailHotel.Location},
            zoom: 16
        });
        var infoWindow = new google.maps.InfoWindow({ map: map });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {@detailHotel.Location};

                infoWindow.setPosition(pos);
                infoWindow.setContent(html);
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
        var marker = new google.maps.Marker({
            position: { @detailHotel.Location},
            map: map,
        })
    }



    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            html :
            'Error: Your browser doesn\'t support geolocation.');
    }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrDdWn62iUUAq5ft_HzGME9tbLv-k10Vg&callback=initMap" async defer></script>
<style>
    .gm-style div, .gm-style span, .gm-style label, .gm-style a {
        font-size: 12px;
        font-family: verdana, helvetica, sans-serif;
        -webkit-text-size-adjust: none;
        color: #333333;
    }

    .gm-style-iw {
        overflow: inherit !important;
    }
</style>
