@using TeamplateHotel.Controllers
@using TeamplateHotel.Handler
@using TeamplateHotel.Models
@{
    var articleHots = CommentController.HotArticles(Request.Cookies["LanguageID"].Value);
    var serviceShowHome = CommentController.ServiceShowHome(Request.Cookies["LanguageID"].Value);
    List<ShowObject> rooms = CommentController.RoomShowHome(Request.Cookies["LanguageID"].Value);
}
<link href="~/Plugins/OwlCarousel/assets/owl.carousel.min.css" rel="stylesheet" />


<div class="rooms-list container-fluid" style="margin-top: 0px;padding: 40px 0 25px;background: #8a1537;">
    <h1 class="color333 title uppercase mg-bottom-25 text-center" style="color:#fff">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Accommodation")</h1>
    <div class="rooms">
        <div class="container">
            <div class="row">
                <div class="container">
                    @foreach (var itemBatch in rooms.Take(15).Select((item, index) => new { item, index }).GroupBy(x => x.index / 3))
                    {
                        <div class="row">
                            @foreach (var itemWrapper in itemBatch)
                            {
                                var item = itemWrapper.item;
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                    <div class="itemBox">
                                        <div class="item">
                                            <div>
                                                <a href="/@item.MenuAlias/@item.ID/@item.Alias" class="img-box"><img src="@item.Image" class="img-fluid"></a>
                                                <div>
                                                    <a title="Superior Double Room" href="/@item.MenuAlias/@item.ID/@item.Alias"><h4>@item.Title</h4></a>
                                                    <p> @Html.Raw(item.Description)</p>
                                                    <a href="/@item.MenuAlias/@item.ID/@item.Alias" class="btn btn-danger">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "ViewRoomDetails")</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<section class="wow fadeInUp animated" style="padding: 30px 0px 35px; visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="row">
            <!-- Hotel Services on the left -->
            <div class="col-xl-8 col-lg-12 col-md-12 itemBox" style="height: 400px;">
                <div style="display:inline-block; width:100%;">
                    <h2 class="title uppercase color333 left">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "HOTELSERVICES")</h2>
                    @if (serviceShowHome.Count > 0)
                    {
                        <a title="Packages & Offers" href="/@serviceShowHome[0].MenuAlias" class="right uppercase mg-top-10">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Viewall")..</a>
                    }
                </div>
                <div class="topic-item-service col-md-12">
                    <div class="row">
                        <div class="flexslider">
                            <ul class="slides" style="list-style: none; padding: 0;">
                                @foreach (var item in serviceShowHome)
                                {
                                    <li>
                                        <div class="img-box media-box">
                                            <a title="/@item.MenuAlias/@item.ID/@item.Alias" class="fbox-media">
                                                <img alt="@item.Title" src="@item.Image" draggable="false">
                                            </a>
                                            <div class="offer-info">
                                                <a title="@item.Title" href="/@item.MenuAlias/@item.ID/@item.Alias"><h5>@item.Title</h5></a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tour Information on the right -->
            <div class="col-md-4 mg-top-15 servicetopic">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title uppercase color333 left">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "tttour")</h2>
                        @if (articleHots.Count > 0)
                        {
                            <a href="/@articleHots[0].MenuAlias" class="right uppercase mg-top-10">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Viewall")..</a>
                        }
                    </div>
                    <div class="">
                        @foreach (var item in articleHots)
                        {
                            <div class="mg-bottom-21 col-md-12">
                                <div class="img-box media-box">
                                    <a class="fbox-media" href="/@item.MenuAlias/@item.ID/@item.Alias" title="@item.Title">
                                        <img src="@item.Image" alt="@item.Title" style="height: 200px; object-fit: cover;">
                                    </a>
                                    <div class="des-info">
                                        <a href="/@item.MenuAlias/@item.ID/@item.Alias" title=""><h5 class="">@item.Title</h5></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

