@using ProjectLibrary.Config
@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@using TeamplateHotel.Handler
@{
    var hotel = CommentController.DetailHotel(Request.Cookies["LanguageID"].Value);
    List<Menu> SecondMenus = CommentController.GetSecondMenus(Request.Cookies["LanguageID"].Value);
    List<Menu> menus = CommentController.GetMainMenus(Request.Cookies["LanguageID"].Value);
    Menu menu = ViewBag.Menu ?? new Menu();
    List<Slider> sliders = CommentController.GetListSlider(Request.Cookies["LanguageID"].Value, menu.ID);
    Plugin plugin = CommentController.GetPluigPlugin();
    List<Language> languages = CommentController.GetLanguages();
    List<FeedBack> feedbacks = CommentController.GetFeedback();
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.MetaTitle</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="SHORTCUT ICON" href="~/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta id="description" name="description" content="@ViewBag.MetaDescription">
    <link href="~/Content/img/css/room-rate.css" rel="stylesheet" />
    <link href="~/Content/img/css/check-article.css" rel="stylesheet" />
    
    <link href="~/Content/img/css/contact.css" rel="stylesheet" />
    <link href="~/Content/img/css/shared.css" rel="stylesheet" />
    <link href="~/Content/img/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/img/css/gallery-grid.css" rel="stylesheet" />
    <link href="~/Content/img/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/img/css/css/all.css" rel="stylesheet" />
    <link href="~/Content/img/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/img/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/img/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>





</head>
<body class="homepage" cz-shortcut-listen="true">
    <!-- back to top -->
    <div class="backToTop">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- end back to top -->
    <!-- header -->
    <div class="container-fluid header-box">
        <div class="row header-info">
            <div class="container">
                <div class="row" style="position: relative;">
                    <p class="info">
                        <span>
                            <a href="#"><i class="fa fa-phone"></i> 0242 242 0777</a>
                        </span>
                        <span>
                            <a href="#"><i class="fas fa-envelope"></i> info@webhotel.vn</a>
                        </span>
                    </p>
                    <p class="icon">
                        <a href="#"><i class="fab fa-tripadvisor"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row header">
            <div class="container">
                <div class="row forResLogo" style="position: relative;">
                    <div class="logo">
                        <a title="@hotel.Name" href="/" class="blogo" style="display: block;">
                            <img class="" src="@hotel.Logo" width="100%" height="" />
                        </a>
                    </div>
                    <div class="menu">
                        <li class="current-page">
                            <a href="/" class="title">Home</a>
                            <div class="drop-menu">
                                <div class="col-12 item first"><a href="#">Home 1</a></div>
                                <div class="col-12 item"><a href="#">Home 2</a></div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="title">Feature</a>
                            <div class="drop-menu">
                                <div class="col-12 item first">
                                    <a href="#">Pages<span><i class="fa fa-angle-right"></i></span></a>
                                    <div class="drop-child-menu each">
                                        <div class="col-12 item"><a href="/about">About</a></div>
                                        <div class="col-12 item"><a href="/memberview">Team</a></div>
                                        <div class="col-12 item"><a href="#">Members</a></div>
                                        <div class="col-12 item"><a href="/lien-he">Contact</a></div>
                                    </div>
                                </div>
                                <div class="col-12 item"><a href="#">Typography</a></div>
                                <div class="col-12 item"><a href="#">Shortcode</a></div>
                                <div class="col-12 item"><a href="#">Video Tutorials</a></div>
                                <div class="col-12 item"><a href="#">Supports</a></div>
                                <div class="col-12 item"><a href="#">404</a></div>
                            </div>
                        </li>
                        <li>
                            <a href="/phong-gia" class="title">Room & Rates</a>
                        </li>
                        <li>
                            <a href="/special-offers1" class="title">Blog</a>
                            <div class="drop-menu">
                                <div class="col-12 item first"><a href="#">Classic</a></div>
                                <div class="col-12 item">
                                    <a href="#">Mansory<span><i class="fa fa-angle-right"></i></span></a>
                                    <div class="drop-child-menu each">
                                        <div class="col-12 item"><a href="#">Mansory columns 2</a></div>
                                        <div class="col-12 item"><a href="#">Mansory columns 3</a></div>
                                    </div>
                                </div>
                                <div class="col-12 item">
                                    <a href="#">Portfolio<span><i class="fa fa-angle-right"></i></span></a>
                                    <div class="drop-child-menu each">
                                        <div class="col-12 item"><a href="#">Portfolio columns 2</a></div>
                                        <div class="col-12 item"><a href="check-article.html">Portfolio columns 3</a></div>
                                    </div>
                                </div>
                                <div class="col-12 item"><a href="#">Post Format</a></div>
                            </div>
                        </li>
                        <li>
                            <a href="/gallery" class="title">Gallery</a>
                            <div class="drop-menu">
                                <div class="col-12 item first"><a href="#">Grids</a></div>
                                <div class="col-12 item"><a href="#">Mansory</a></div>
                                <div class="col-12 item"><a href="#">Cobbles</a></div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="title">Shop</a>
                        </li>
                    </div>
                    <!-- res header button -->
                    <div class="headerBtn">
                        <div class="box" id="box1">
                            <div class="line1 line"></div>
                            <div class="line2 line"></div>
                            <div class="line3 line"></div>
                        </div>
                        <div class="box" id="box2">
                            <div class="line4 line"></div>
                            <div class="line5 line"></div>
                            <div class="line6 line"></div>
                        </div>
                        <div class="box" id="box3">
                            <div class="line7 line"></div>
                            <div class="line8 line"></div>
                            <div class="line9 line"></div>
                        </div>
                    </div>
                    <!-- end res header button -->
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- resHeader -->
    <div class="resHeader container-fluid" id="resHeader">
        <div class="row">
            <div class="hidden-drop-menu" id="dropMenu">
                <div class="col-12 itemBox">
                    <div class="pre-hid">Home <span><i class="fa fa-angle-down"></i></span></div>
                    <div class="hid-item container">
                        <div class="row">
                            <div class="child-menu each">
                                <div class="col-12">
                                    <div class="hid-child"><a href="index.html">Home 1</a></div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child"><a href="#">Home 2</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 itemBox">
                    <div class="pre-hid">Features <span><i class="fa fa-angle-down"></i></span></div>
                    <div class="hid-item container">
                        <div class="row">
                            <div class="child-menu each">
                                <div class="col-12">
                                    <div class="hid-child pre-hid-child">Pages <span><i class="fa fa-angle-down"></i></span></div>
                                    <div class="hid-item container">
                                        <div class="row">
                                            <div class="grandchild-menu each">
                                                <div class="col-12">
                                                    <div class="hid-child">
                                                        <a href="about.html">about</a>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="hid-child"><a href="our-team.html">team</a></div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="hid-child"><a href="#">team members</a></div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="hid-child"><a href="contact.html">contact</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child">
                                        <a href="#">typography</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child">
                                        <a href="#">short codes</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child">
                                        <a href="#">video tutorials</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child">
                                        <a href="#">supports</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child">
                                        <a href="#">404</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 itemBox  ">
                    <div class="pre-hid"><a href="room-rate.html">room & rate</a></div>
                </div>
                <div class="col-12 itemBox  ">
                    <div class="pre-hid">blog <span><i class="fa fa-angle-down"></i></span></div>
                    <div class="hid-item container">
                        <div class="row">
                            <div class="child-menu each">
                                <div class="col-12">
                                    <div class="hid-child"><a href="#">classic</a></div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child pre-hid-child"><a href="#">mansory <span><i class="fa fa-angle-down"></i></span></a></div>
                                    <div class="hid-item container">
                                        <div class="row">
                                            <div class="grandchild-menu each">
                                                <div class="col-12">
                                                    <div class="hid-child"><a href="#">mansory columns 2</a></div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="hid-child"><a href="#">mansory columns 3</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child pre-hid-child"><a href="#">portfolio <span><i class="fa fa-angle-down"></i></span></a></div>
                                    <div class="hid-item container">
                                        <div class="row">
                                            <div class="grandchild-menu each">
                                                <div class="col-12">
                                                    <div class="hid-child"><a href="#">portfolio columns 2</a></div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="hid-child"><a href="check-article.html">portfolio columns 3</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child"><a href="#">post formats</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 itemBox  ">
                    <div class="pre-hid">Gallery <span><i class="fa fa-angle-down"></i></span></div>
                    <div class="hid-item container">
                        <div class="row">
                            <div class="child-menu each">
                                <div class="col-12">
                                    <div class="hid-child"><a href="gallery-grid.html">grid</a></div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child"><a href="#">mansory</a></div>
                                </div>
                                <div class="col-12">
                                    <div class="hid-child"><a href="#">cobbles</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 itemBox  ">
                    <div class="pre-hid hid-item"><a href="#">shop</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end resHeader -->
    <!-- carousel banner -->
    @if (ViewBag.Home == true)
    {
        @*@Html.Partial("Comment/Service");*@
        <div class="container-fluid banner">
            <div class="row banner-slide">
                @foreach (var item in sliders)
                {
                    <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 banner-item" style="background-image:url(@item.Image)">
                        <div class="title banner-word">
                            <p>@item.Title</p>
                        </div>
                        <div class="description banner-word">
                            <p>@item.Content</p>
                        </div>
                    </div>
                }
            </div>
            <div class="prev-banner-box"><span><i class="fa fa-angle-left" id="prevBanner"></i></span></div>
            <div class="next-banner-box"><span><i class="fa fa-angle-right" id="nextBanner"></i></span></div>
             @if (ViewBag.Home == true)
              {
                <div class="booking">

                        <form action="/booking" method="get" id="formCheckRoom" novalidate="novalidate" class="row" style="background-color: #faf9f8">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">
                                <p>@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "CheckIn")<span>*</span></p>
                                <div class="infos">
                                    <input type="date" id="checkin" name="CheckIn" class="criteria">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item item-sm">
                                <p>@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "CheckOut")<span>*</span></p>
                                <div class="infos">
                                    <input type="date" id="checkout" name="CheckOut" class="criteria">
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-4 col-md-6 col-sm-12 col-12 item item-md">
                                <p>@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Adults")</p>
                                <div class="infos">
                                    <select class="criteria" id="adults" name="Adult">
                                        <option value="1" selected="selected">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
                                <p>@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Child")</p>
                                <div class="infos">
                                    <select class="criteria" id="Chilren" name="Child">
                                        <option value="0" selected="selected">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
                                <p style="color: transparent;">A</p>
                                <div class="infos">
                                    <input type="submit" id="cmdCheckHotel" name="cmdCheckHotel" type="submit" value="@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "CheckAvailability")" class="criteria sub-btn">
                                </div>
                            </div>
                        </form>
                    </div>
                    }
            </div>
        }







    @RenderBody()


    <!-- footer -->
    <div class="container-fluid footer">
        <div class="row info">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 item contact">
                        <p class="title">Contact Us</p>
                        <p class="criteria">Your Email<span>*</span></p>
                        <input type="email" name="">
                        <p class="criteria">Your Name<span>*</span></p>
                        <input type="name" name="">
                        <p class="criteria">Message<span>*</span></p>
                        <textarea></textarea>
                        <div class="policy">
                            <div class="checkbox">
                                <input type="checkbox" name="" id="check-policy">
                            </div>
                            <div class="words">
                                <p>I agree that my submitted data is being collected and stored. For further details on handling user data, see our</br><span><a href="#">Privacy Policy</a></span></p>
                            </div>
                            <button class="condition-policy">send message</button>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 item category">
                        <p class="title">Categories</p>
                        <li><a href="#">Restaurant and Inn</a></li>
                        <li><a href="#">The Gallery</a></li>
                        <li><a href="#">The Bedrooms</a></li>
                        <li><a href="#">The Menus</a></li>
                        <li><a href="#">The Lastest</a></li>
                        <li><a href="#">The Story</a></li>
                        <li><a href="#">The Detail</a></li>
                        <p class="title" style="margin-top: 50px;">Connect</p>
                        <p class="icon">
                            <a href="#"><i class="fab fa-tripadvisor"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 item direction">
                        <p class="title">Get Directions</p>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.808871869986!2d105.77227781493282!3d21.040332185992185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454c9755033dd%3A0xf13b328d1266f239!2zMTQ3IFBo4buRIE1haSBE4buLY2gsIE1haSBE4buLY2gsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1608189785545!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                        <p class="address">147 Phố Mai Dịch, Mai Dịch, Cầu Giấy, Hà Nội</p>
                        <p class="address">Tel: 0242 242 0777</p>
                        <p class="address">Email: info@webhotel.vn</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="container" style="height: 100%;">
                <p><span><a href="https://webhotel.vn/" target="_blank">WEBHOTEL</a> </span><i class="far fa-copyright"></i> 2020. All right reserved.</p>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <script src="~/Content/img/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/img/js/shared.js"></script>
    <script src="~/Content/img/slick/slick.min.js"></script>
    <script src="~/Content/img/js/gallery-grid.js"></script>
    <script src="~/Content/img/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/img/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/img/js/jquery.counterup.js"></script>
    <script src="~/Content/img/js/check-article.js"></script>
    
        @*<script type="text/javascript" src="/Scripts/Hotel/jquery.js"></script>*@
        <script type="text/javascript" src="/Scripts/Hotel/jquery-ui.js"></script>
        @*<script type="text/javascript" src="/Scripts/Hotel/bootstrap.min.js"></script>
        <script src="~/Plugins/prettyphoto-master/js/jquery.prettyPhoto.js"></script>
        <script src="/Scripts/Hotel/jquery.isotope.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/Scripts/Hotel/isotope.min.js"></script>
        <script type="text/javascript" src="/Scripts/Hotel/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="/Scripts/Hotel/main.js"></script>
        <script type="text/javascript" src="/Scripts/main.js"></script>
        <script type="text/javascript" src="/Scripts/Hotel/wow.min.js"></script>
        <script type="text/javascript" src="/Scripts/Hotel/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript" src="/Scripts/Hotel/bootstrap-timepicker.js"></script>
        <script type="text/javascript" src="/Scripts/Hotel/jquery.flexslider.js"></script>
        <script type="text/javascript" src="/Scripts/Hotel/ekko-lightbox.js"></script>

        <script src="~/Plugins/TabTour/Js/zozo.tabs.min.js"></script>
        <script src="~/Plugins/prettyphoto-master/js/jquery.prettyPhoto.js"></script>
        <script src="~/Plugins/OwlCarousel/owl.carousel.min.js"></script>*@

    <script type="text/javascript">
        $('.flexslider').flexslider();
        $('.flexslider-post').flexslider({
            animation: "slide",
            animationLoop: true,
            itemWidth: 247,
            itemMargin: 0,
            slideshow: false,
            smoothHeight: true,
            directionNav: true,
            controlNav: false,
            directionNav: false
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#owl-demo2").owlCarousel({
                loop: false,
                margin: 25,
                responsiveClass: true,
                autoplay: false,
                dots: false,
                nav: true,
                navText: ['<span class="fa fa-angle-left"></span>', '<span class="fa fa-angle-right"></span>'],
                items: 3, //10 items above 1000px browser width
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            });
        });
    </script>
</body>
</html>